<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ platform.name }}{% endblock %}</title>
        <meta name="description" content="{{ platform.description }}" />
        <meta name="keywords" content="{{ platform.keywords }}" />
        <!-- Twitter Bootstrap Stylesheet -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <!-- jQuery Framework -->
        <script src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>
        <!-- jQuery Ajax Form -->
        <script src="{{ asset('js/jquery.form.min.js') }}"></script>
        <!-- jQuery Form Validate -->
        <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
        <!-- Twitter Bootstrap -->
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <!-- Twitter Bootstrap Fileupload -->
        <script src="{{ asset('js/bootstrap-filestyle.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
