{{ '{% extends "::base.html.twig" %}' }}
{{ '{% block title %}' -}}
Hello
{{- '{% endblock %}' }}
{{ '{% block body %}' }}
<div class="container">
    <div class="page-header">
        <h1>Welcome to the {{ controller }}:{{ action.basename }} page</h1>
    </div>
    <p>Please place here your page content.</p>
</div>
{{ '{% endblock %}' }}
